<div class="footer-desc">
	<p>This project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement 
		<br><span>No 693514</span></p>
</div>
<img src="{{"images/euflag.png" | relURL}}" title="Europe Flag">